1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
str="ahmed"
print(len(str))

#method 2:
count=0
for i in str:
    count+=1
print(count)

5
5

2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource' <br>
Expected Result : 'w3ce' <br>
##Sample String : 'w3'<br>
Expected Result : 'w3w3'<br>
##Sample String : ' w'<br>
Expected Result : Empty String)

In [ ]:
# prompt: Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead (make me enter input

def string_both_ends(str):
 if len(str) < 2:
    return ''
    return str[0:2] + str[-2:]
 else:
     print("Empty string")

string = input("Enter your string: ")
print(string_both_ends(string))

Enter your string: w

3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
def add_string(str1):
  length = len(str1)

  if length > 2:
    if str1[-3:] == 'ing':
      str1 += 'ly'
    elif str1[-1:] =='e':
        str1 = str1[:-1]
        str1 += 'ing'
    else:
      str1 += 'ing'

  return str1
print(add_string('smoke'))

smoking

4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
l=["ahmed","mohamed","mostafa"]
longest_word = max(l, key=len)
print("Longest word:", longest_word)
print("Length of the longest word:", len(longest_word))

Longest word: mohamed
Length of the longest word: 7

5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
# Method 1
def change_sring(str1):
  return str1[-1:] + str1[1:-1] + str1[:1]

# Method 2
def change_string_two(str1):
  new_string = str1[-1]
  for i in range(1, len(str1)-1):
    new_string += str1[i]
  new_string += str1[0]
  return new_string

string = "abca"
print("Method 1: ", change_sring(string))
print("Method 2: ", change_string_two(string))

Method 1:  abca
Method 2:  abca

6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
str1="youssef"
new_str=""
for i in range(len(str1)):
    if i%2==0:
        new_str+=str1[i]
print(new_str)

yusf

7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
str1="amr and ahmed are frindes but amr is the tallest"
count=0
for i in str1.split():
    if i=="amr":
        count+=1
print(count)

2

8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
str1=input("Enter your string: ")
print(str1.upper())
print(str1.lower())

Enter your string: youssef
YOUSSEF
youssef

9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
while True:
  str1=input("Enter your string: ")

  if len(str1)%4==0:
      print(str1[::-1])
      break
  else:
    print("not multiple of 4")

Enter your string: amr
not multiple of 4
Enter your string: jjjj
jjjj

10- Write a Python program to remove a newline in Python

In [ ]:
str1="ahmed\nmohamed"
print(str1)
print(str1.replace("\n",""))

ahmed
mohamed
ahmedmohamed

11-Write a Python program to check whether a string starts with specified characters

In [ ]:
str1=input("Enter your string: ")
if str1.startswith("a"):
    print("yes")
else:
    print("no")

Enter your string: ahmed
yes

12- Write a Python program to add prefix text to all of the lines in a string

1.   List item
2.   List item

In [ ]:
sample_text ='''List item
List item'''
split_text = sample_text.splitlines()
for line in split_text:
  print("prefix " + line)

13-Write a Python program to print the following numbers up to 2 decimal places

In [2]:
s =input("Enter your number: ")
s=float(s)
print(round(s, 2))

Enter your number: 3.14788
3.15

14-Write a Python program to print the following numbers up to 2 decimal places

---

with a sign

In [3]:
x = 3.1415926
y = -12.9999
print("{:+.2f}".format(x))
print("{:+.2f}".format(y))

+3.14
-13.00

15-Write a Python program to display a number with a comma separator

In [4]:
s=input("Enter your number: ")
s=int(s)
print(format(s, ","))

Enter your number: 312341
312,341

16-Write a Python program to reverse a string using 2 ways

In [5]:
str1=input("Enter your string: ")
print(str1[::-1])
#method2
str2=""
for i in str1:
    str2=i+str2
print(str2)

Enter your string: youssef
fessuoy
fessuoy

 17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [8]:
str1=input("Enter your string: ")
d={}
for i in str1:
    if i in d:
        d[i]+=1
    else:
        d[i]=1

print(d)

Enter your string: youssef
{'y': 1, 'o': 1, 'u': 1, 's': 2, 'e': 1, 'f': 1}

18-Write a Python program to find the first non-repeating character in a given string

In [9]:
str1=input("Enter your string: ")
for i in str1:
    if str1.count(i)==1:
        print(i)
        break

Enter your string: youssef
y

19-Write a Python program to remove spaces from a given string

In [10]:
str1=input("Enter your string: ")
print(str1.replace(" ",""))

Enter your string: y 2 j
y2j

20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
str1=input("Enter your string: ")
count=0
for i in range(len(str1)):
    for j in range(i,len(str1)):
        if str1[i:j+1]!="":
            count+=1

21-write a Python program to swap first and last element of any list.

In [12]:
l=[1,2,3,4,5]
l=len(l)
temp=l[0]
l[0]=l[l-1]
l[l-1]=temp
print(l)

TypeError: 'int' object is not subscriptable

22-Given a list in Python and provided the positions of the elements,
<br>write a program to swap the two elements in the list.<br>
(Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3 <br>
Output : [19, 65, 23, 90])

In [17]:
lis=[23, 65, 19, 90]
pos1=lis[1]
pos2=lis[3]
temp=pos1
pos1=pos2
pos2=temp
print(lis)

[23, 65, 19, 90]

23- search for the all ways to know the length of the list

In [18]:
# Using the len() function
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print("Length of the list using len():", length)

# Using a loop to iterate and count
length = 0
for _ in my_list:
  length += 1
print("Length of the list using a loop:", length)

Length of the list using len(): 5
Length of the list using a loop: 5

24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
my_list = [10, 5, 20, 8, 15]
maximum = max(my_list)
print("Maximum number in the list:", maximum)

25-write a Python code to find the Minimum number of list of numbers.

In [19]:
my_list = [10, 5, 20, 8, 15]
minimum = min(my_list)
print("Maximum number in the list:", minimum)

Maximum number in the list: 5

**26-search for if an elem is existing in list

In [20]:
list1=[1,2,3,4,5]
if 3 in lis:
    print("yes")
else:
    print("no")

no

**27- clear python list using different ways

In [ ]:
list1=[1,2,3,4,5]
list1.clear()
print(list1)

**28-remove duplicated elements from a list

In [21]:
list1=[1,2,3,4,5,1,2,3,4,5]
list2=[]
for i in list1:
    if i not in list2:
        list2.append(i)
print(list2)

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.<br>
(Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]<br>
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [23]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
result = []
for i in range(0, len(test_list), 2):
  result.append({key_list[0]: test_list[i], key_list[1]: test_list[i + 1]})
print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

\\**30-write a python program to count unique values inside a list using different ways

In [ ]:
import numpy as np
l=[1,2,3,3,4,5,6,6]
for i in l:
    if l.count(i)==1:
            print(i)

1
2
4
5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
# prompt: -write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 Output : [4, 3] )

def extract_elements(test_list, K):
  result = []
  for element in set(test_list):
    if test_list.count(element) > K:
      result.append(element)
  return result

test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
print(extract_elements(test_list, K))

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5

*   [List item](https:// [link text](https://))
*   List item


Output: 2 2 3 4 5)

In [ ]:
def find_strongest_neighbour(arr):
  result = []
  for i in range(1, len(arr) - 1):
    strongest = max(arr[i - 1], arr[i + 1])
    result.append(strongest)
  return result

input_array = [1, 2, 2, 3, 4, 5]
output_array = find_strongest_neighbour(input_array)
print(" ".join(map(str, output_array)))

[link text](https://)**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
from itertools import permutations

def print_combinations(digits):
  for permutation in permutations(digits):
    print(" ".join(map(str, permutation)) + " ##")

input_digits = [1, 2, 3]
print_combinations(input_digits)

1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
def find_combinations(test_list):
  result = []
  for i in range(1, 2 ** len(test_list)):
    combination = []
    for j in range(len(test_list)):
      if (i >> j) & 1:
        combination.append(test_list[j])
    result.append(combination)
  return result

test_list = [1, 2, 3]
output = find_combinations(test_list)
for combination in output:
  print(combination)

[1]
[2]
[1, 2]
[3]
[1, 3]
[2, 3]
[1, 2, 3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
l1=["a","b"]
l2=[1,2]
l3=[]
for i in l1:
    for j in l2:
     l3.append((i,j))
print(l3)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python

---

(Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
l=[1,1,2,3,4,5,1,2,1]
for i in l:
    if l.count(i) == max:
        l.remove(i)
print(l)

[1, 1, 2, 3, 4, 5, 1, 2, 1]

**37-write a python program to Replace index elements with elements in Other List <br>
(The original list 1 is : [‘Gfg’, ‘is’, ‘best’]<br>
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] <br>
The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
l1=['Gfg', 'is', 'best']
l2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
l3=[]
for i in l2:
    l3.append(l1[i])
print(l3)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 <br>
Output : [(4, 5, 5, 4)] <br>
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 <br>
Output : [] )

In [ ]:
def retain_records(test_list, K, N):
  result = []
  for record in test_list:
    if record.count(K) == N:
      result.append(record)
  return result

# Test Case 1
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
print(retain_records(test_list, K, N))

# Test Case 2
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 3
print(retain_records(test_list, K, N))

[(4, 5, 5, 4)]
[]

**39-write a Python Program to Sort the list according to the column using lambda<br>
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]<br>
Output :<br>
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]<br>
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]<br>
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
import numpy as np
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

# Sort by column 0
sorted_col0 = sorted(array, key=lambda x: x[0])
print("Sorted array specific to column 0,", sorted_col0)

# Sort by column 1
sorted_col1 = sorted(array, key=lambda x: x[1])
print("Sorted array specific to column 1,", sorted_col1)

# Sort by column 2
sorted_col2 = sorted(array, key=lambda x: x[2])
print("Sorted array specific to column 2,", sorted_col2)

Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value <br>
Input: <br>
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
<br>
Output: <br>
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

# Sort by keys
sorted_dict_keys = dict(sorted(my_dict.items()))
print("Sorted by keys:", sorted_dict_keys)

# Sort by values
sorted_dict_values = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print("Sorted by values:", sorted_dict_values)

Sorted by keys: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
Sorted by values: {'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values ) <br>
input : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 <br>
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
my_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K = 7
new_dict = {key: value for key, value in my_dict.items() if not isinstance(value, int) or value <K} # Keep non-integer values or integers less than or equal to K
print(new_dict)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3):
    dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

# Iterate over keys
for key in my_dict:
  print(key)

# Iterate over values
for value in my_dict.values():
  print(value)

# Iterate over key-value pairs
for key, value in my_dict.items():
  print(key, value)

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Method 1
dict1.update(dict2)
print(dict1)

# Method 2
merged_dict = {**dict1, **dict2}
print(merged_dict)

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:

my_dict = {'a': 10, 'b': 2, 'c': 5, 'd': 12}


max_value = max(my_dict.values())
print("Maximum value:", max_value)


min_value = min(my_dict.values())
print("Minimum value:", min_value)

**46- Write a Python program to drop empty items from a given dictionary.<br>
Original Dictionary:<br>
{'c1': 'Red', 'c2': 'Green', 'c3': None}<br>
New Dictionary after dropping empty items:<br>
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict = {key: value for key, value in original_dict.items() if value is not None}
print("New Dictionary after dropping empty items:", new_dict)

New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
tup=(1,2,3,4,5)
print(tup[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
tup=(1,2,3,4,5)
a,b,c,d,e=tup
print(a,b,c,d,e)

1 2 3 4 5

**49-Write a Python program to add an item to a tuple

In [ ]:
tup=(1,2,3,4,5)
tup=list(tup)
tup.append(6)
tup=tuple(tup)
print(tup)

(1, 2, 3, 4, 5, 6)

**50-Write a Python program to convert a tuple to a string

In [ ]:
tup = ('a', 'b', 'c')
str = ''.join(tup)
print(str)

abc

**51-Write a Python program to convert a list to a tuple

In [ ]:
l1=[1,2,3,4,5]
tup=tuple(l1)
print(tup)

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [ ]:
tup=(1,2,3,4,5)
tup=tup[::-1]
print(tup)

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.<br>
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] <br>
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
l1=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(l1)):
    l1[i]=list(l1[i])
    l1[i][-1]=100
    l1[i]=tuple(l1[i])
print(l1)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0 <br>
<class 'str'> <br>
Convert the said string to a tuple: <br>
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
p=input()
tup=tuple(p)
print(tup)

python3.0
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
import numpy as np
tup = ((2,3),(1,2),(2,6))
tup1 = []

for i in tup:
    avg = np.sum(i) / len(i)
    tup1.append(avg)

tup1 = tuple(tup1)
print(tup1)

(2.5, 1.5, 4.0)

**56-Write a Python program to add member(s) to a set.

> Add blockquote

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)
my_set.update([5, 6, 7])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
my_set = {1, 2, 3, 4, 5}
item_to_remove = 3
if item_to_remove in my_set:
    my_set.remove(item_to_remove)
    print(f"{item_to_remove} has been removed from the set.")
else:
    print(f"{item_to_remove} is not present in the set.")
print(my_set)

3 has been removed from the set.
{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
my_set1 = {1, 2, 3, 4, 5}
my_set2 = {4, 5, 6, 7, 8}
if my_set1.intersection(my_set2):
    print("Intersection:", my_set1.intersection(my_set2))
else:
    print("No intersection found.")

if my_set1.union(my_set2):
    print("Union:", my_set1.union(my_set2))
else:
    print("No union found.")

if my_set1.difference(my_set2):
    print("Difference:", my_set1.difference(my_set2))
else:
    print("No difference found.")

if my_set1.symmetric_difference(my_set2):
    print("Symmetric Difference:", my_set1.symmetric_difference(my_set2))
else:
    print("No symmetric difference found.")

Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
my_set = {1, 2, 3, 4, 5}
max_value = max(my_set)
min_value = min(my_set)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 5
Minimum value: 1

In [ ]:
# prompt: *60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value. give me an acces to enter the target sum

def find_pairs(arr, target_sum):
  pairs = []
  for i in range(len(arr)):
    for j in range(i + 1, len(arr)):
      if arr[i] + arr[j] == target_sum:
        pairs.append((arr[i], arr[j]))
  return pairs


arr_str = input("Enter a list of numbers separated by spaces: ")
arr = [int(x) for x in arr_str.split()]
target_sum = int(input("Enter the target sum: "))

result = find_pairs(arr, target_sum)
if result:
  print("Pairs with sum equal to", target_sum, "are:", result)
else:
  print("No pairs found with sum equal to", target_sum)

Enter a list of numbers separated by spaces: 1 2 3  4 5 6 7  8
Enter the target sum: 8
Pairs with sum equal to 8 are: [(1, 7), (2, 6), (3, 5)]